@import url(../styles-homework.css);

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Source+Sans+Pro&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700;800&family=Work+Sans:wght@100;200;300;400;500;600;700;800&display=swap');
/* 
font-family: 'Courier Prime', monospace;
font-family: 'Source Sans Pro', sans-serif; 
font-family: 'Montserrat', sans-serif;
font-family: 'Work Sans', sans-serif;

*/

/* 
color: #fef9f8;
color: #FD3369;
color: rgb(238, 193, 69);
color: #74D59E;
*/

.main-header {
    border-top: 10px solid #74D59E;
}
.main-nav__item a:hover,
.main-nav__item a:active  {
    color:#fef9f8;
    background-color: #74D59E;
}
body {
    background: linear-gradient(135deg, rgb(241 241 241) 30%, #ce8900);
}

.team-title-wrapper {
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    margin: 50px;
    color: #74D59E;
    text-shadow: 1px 1px 4px #323232;
}
.team-wrapper {
    margin: 0 auto;
    display: flex;
    width: 80%;
}

.team-wrapper__teacher {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 30px 10px;
    /* border: 3px solid black; */
    position: relative;
}

.team-wrapper__teacher-img img {
    
    object-fit: cover;
    width:280px;
    height:280px;
    box-shadow: 2px 3px 5px black;
}


.team-wrapper__teacher-img img:hover {
    animation: bounce2 2s ease;
  }


.team-wrapper__teacher-about {
    width: 100%;
    height: 100%;
    padding: 120px 5px 30px 5px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border: 3px solid #74D59E;
    position: relative;
    top: -110px;
    z-index: -1;
    
}
.team-wrapper__teacher-about h1, h3, p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

/* ! FORM */

.team-wrapper__teacher-about p {
    width: 90%;
}

.form-wrapper__form {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.form-wrapper__form h3 {
    font-size: 35px;
    margin: 0 auto 70px auto;
    color: #74D59E;
    text-shadow: 1px 1px 4px #323232;
}

.form-wrapper__form label, input, textarea {
    width: 100%;
    
}
label {
    font-family: 'Montserrat', sans-serif;
    margin: 7px auto;
}
input, textarea {
    border: 2px solid #74D59E;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 1px 1px 4px #323232;
}
.form-wrapper__form input {
    height: 30px;
}
.form-wrapper__form input:focus,
.form-wrapper__form textarea:focus {
    border: 2px solid #4f8f6b;
    background: rgba(255, 255, 255, 0.4);
    outline: none;
}

.form-wrapper__form button {
    margin: 30px;
    padding: 15px 25px;
    border: 2px solid #74D59E;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 1px 1px 4px #323232;
}

.form-wrapper__form button:hover {
    color: black;
    background:rgba(255, 255, 255, 0.4);
    box-shadow: 1px 2px 5px #292929;
}





/* ! animations */

@keyframes bounce2 {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

/* ! media queries */

@media screen and (max-width:1024px) {

    .team-wrapper {
        width: 90%;
    }

    .team-wrapper__teacher-img img {
        width: 220px
    }
}

@media screen and (max-width:768px) {
    .team-wrapper {
        width: 95%;
        flex-direction: column;
        align-items: center;
    }
    .team-wrapper__teacher {
        margin: 0;
    }

    .team-wrapper__teacher-img img {
        width: 100%;
    }
    .team-wrapper__teacher-about {
        width: 90%;
    }
    .team-wrapper__teacher-about h1 {
        font-size:25px ;
    }
    .team-wrapper__teacher-about h3 {
        font-size:18px ;
    }

    .form-wrapper__form {
        width: 60%;
    }
}

@media screen and (max-width:425px) {

    .team-title-wrapper {
        margin: 0;
    }
    .team-wrapper__teacher {
        width: 90%;
        margin-bottom: 20px;
    }

    .team-wrapper__teacher-about {
        padding: 20px 5px 30px 5px;
        top: -20px;
    }
    .form-wrapper__form h3 {
        margin: -20px auto 10px auto;;
    }
    
    .form-wrapper__form {
        width: 90%;
    }
}
