@import url(../style.css);

.courses-wrapper {
    padding: 50px;
    margin: 0;
    width: 100%;
    /* height:100vh; */
    background: url(../assets/courses-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.courses-wrapper__course {
    border: 5px solid #ef9273;
    width: 50%;
    background: #fef9f8;
    padding: 25px;
    opacity: 0.85;
    margin-bottom: 20px;
    min-width: 300px;
    min-height: 250px;
    position: relative;

}

.courses-wrapper__course:hover {
    border-color: #a7563b;
    cursor: pointer;
    transition: 300ms ease;
}
.courses-wrapper__course h1, h3 {
    font-family: 'Source Code Pro', monospace;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.courses-wrapper__course ul {
    list-style: circle;
}
.courses-wrapper__course ul, p {
    font-family: 'Courier Prime', monospace;

}
.advanced-course {
    order: 1;
    
}
.basic-course {
    order: 2;
    align-self: flex-end;
    transform: translateX(1) scale(1,1);
    transition: transform 500ms ease-in-out;
}
.basic-course:hover {
    transform: translateX(-50%) scale(1.2, 1.1);
}
.advanced-course,
.intermediate-course {
    transform: translateX(1) scale(1,1);
    transition: transform 500ms ease-in-out;
}

.advanced-course:hover,
.intermediate-course:hover {
    transform: translateX(50%) scale(1.2, 1.1);
}

.intermediate-course {
    order: 3;
}

.recommended {
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    background: #ef9273;
    position: absolute;
    top: 7;
    right: 0;
    margin-right: 10px;
    z-index: -1;

}
@media screen and (max-width: 768px) {
    
    .courses-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .basic-course {
        align-self: center;
    }
    .advanced-course .recommended {
        position: static;
        text-align: center;
    }
    .courses-wrapper__course h1, h3 {
        text-align: center;
    }

    .advanced-course:hover,
    .intermediate-course:hover,
    .basic-course:hover {
        transform: none;
    }

    
}




